body{
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

header{
    border-bottom: 1px solid #a2a2a2;
    padding-bottom: 30px;
}

main{
    padding: 30px 0;
}


.weatherapp{
    background-color: #e3e1e1;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 20px 60px hsla(200, 22%, 11%, 0.5);
    border-radius: 10px;
    margin-top: 60px;
}

.searchform{
    text-align: center;
}

.searchform-input{
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    width: 60%;
    padding: 10px 15px;
}

.searchform-button{
    background-color: #4d4b4b;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.weatherData{
    display: flex;
    justify-content: space-between;
}

.weatherapp-city{
    margin: 0 auto;
    font-size: 38px;
    line-height: 48px;
}

.weatherapp-details{
    font-size: 12px;
    line-height: 20px;
}

.weatherapp-details strong{
    font-weight: 600;
    color: rgb(79, 79, 179)
}

.weatherapp-temp{
    display: flex;
}

.weather-emoji{
    font-size: 50px;
    margin-right: 10px;
}

.current-temp{
    font-size: 80px;
}

.my-unit{
    margin-top: 20px;
}

.weatherForecast{
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    margin: 30px;
    max-width: max-content;
}

.forecastDay{
    font-size: 22px;
    color:#4d4b4b;
    font-weight: bold;
}

.forecastTempMini{
    opacity: 0.4;
}


footer{
    padding: 20px 0 0 0;
    font-size: 11px;
    text-align: center;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 14px;
}